header {
    width:70%;
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 5%;
    border-radius: 10px;
    background-color: #3b5998;
    margin: auto;
    margin-top: 6%;
}
  
header img {
    width: 90%;
    margin: auto;
    padding: 5%;
}

header section{
    margin-top: auto;
    margin-bottom: auto;
}

header p {
    vertical-align: middle;
    font-size: large;
    color: #f2f2f2;
}

.wrapper {
    text-align: center;
}

input[type="button"]{
    margin-top: 1%;
    border: none;
    height: 50px;
    width: 300px;
    background: #3b5998;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
}

table{
    width: 90%;
    text-align: center;
    margin: 2% auto;
}

thead{
    background-color: #868a94;
}

#testBtn{
    width: 25px;
    height: 25px;
    padding: 3px;
    vertical-align: middle;
}

#theader{
    background-color: #3b5998;
    color: #f2f2f2;
}

td img{
    width:30px;
    height:30px;
    vertical-align: middle;
}

tbody td{
    height:40px;
    min-width:30px;
}

tbody tr:nth-child(even){
    background-color: #eee;
}

tbody tr:nth-child(odd){
    background-color: #fff;
}

tbody tr:hover{
    background:rgb(86, 86, 87);
    color:#FFFFFF;
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: #3b7998;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
