header{
    background-color: rgb(133, 188, 250);
    position: fixed;
    width: 80%;
    text-align: center;
    margin-top: 63px;
    z-index: 2;
    margin-left: 10%;
    margin-right: auto;
    top: 0;
}

h1{
    color: black;
}

table{
    width: 80%;
    margin: 10%;
    table-layout: fixed;
    border-collapse:collapse;
    position: relative;
}

table img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
  
thead{
    color:black;
}

.colord{
    position: sticky;
    top: 141px;
    background-color: lavender;
    box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.4);
}

#lShadow{
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

#rShadow{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);;
}

tbody{
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}

td{
text-align:center;
padding:5px 0;
}

table tr:nth-child(even){
    background-color: #eee;
}

table tr:nth-child(odd){
    background-color: #fff;
}

tbody tr:hover{
    background:rgb(86, 86, 87);
    color:#FFFFFF;
    }

tbody tr{
    border-bottom: 1px solid #d7dbe0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: #3b5998;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    z-index: 0;
}

.dropContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropContent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1e469c;
}

